<html>
<head>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="searchController.js"></script>

    <body ng-app="voyagerSearch" class="container" ng-controller="SearchCtrl">
        <div class="well well-sm row" style="margin-top: 10px;">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label pull-left">SOLR URL:</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="solrUrl" class="form-control">
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="searchInput" ng-keypress="handleEnter($event)">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="searchClick()"><span
                                    class="glyphicon glyphicon-search"></span> Search
                            </button>
                          </span>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <th>Name</th> <th>Type</th> <th>Size</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="doc in docs">
                                <td width="50%">{{doc.name}}</td>
                                <td width="40%">{{doc.format}}</td>
                                <td width="10%">{{doc.bytes}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</head>
</html>